Pillow==11.3.0
Wand==0.6.13
ffmpeg-python==0.2.0

requests==2.32.4
aiohttp==3.12.15
urllib3==2.5.0

matplotlib==3.10.5
beautifulsoup4==4.13.4
yfinance==0.2.65
pysqlite3==0.5.4
moviepy==2.2.1
networkx==3.5
opencv-python==4.12.0.88
primp==0.15.0
pydub==0.25.1

redis==6.3.0
numba==0.61.2
